html {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
}

h1 {
    color: #106B7A;
    font-family: 'Baloo Tammudu 2';
    font-size: 2.5rem;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    justify-content: center;
}


.container {
   border: 2px solid blue;
   /* height: 50em; */
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   margin-top: 30px;
   width: 70vh;
   height: 100vh;
   /* padding-top: 20px; */
   
}

.input-container {
   border: 2px solid lawngreen;
}

